# Logs
logs
*.log
npm-debug.log*

# Node modules (Dependencies)
node_modules/

# Build output (Vite automatically puts built files here)
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
